---
title: Library
layout: page
---

<!--{% for category in site.categories %}
  <h3>{{ category[0] }}</h3>
  <ul>
    {% for post in category[1] %}
      <li><a href="{{ post.url }}">{{ post.title }}</a><p style="text-align: right">{{post.date | date_to_long_string}}</p></li>
    {% endfor %}
  </ul>
{% endfor %} -->

{% for category in site.categories %}
<h3>{{ category[0] }}</h3>
<ul class="post-list">
  {% for post in category[1] %}
    {% include post-list-item-noexc.html %}
  {% endfor %}
</ul>
{% endfor %}